.contacts {
  padding: 55px 0 10px 0;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
  margin: 0 0 40px 0;
}

.contacts__row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 156px 0;
}

.contacts__address-item {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.contacts__address-item:first-child {
  margin: 0 0 35px 0;
}

.contacts__address-item:last-child {
  margin: 0;
}

.contacts__address-icon {
  margin: 0 30px 0 0;
}

.contacts__address-icon:last-child {
  margin: 0;
}

.contacts__address-text {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color, #ffffff);
}

.contacts__address-link {
  transition: color 0.2s ease;
}

.contacts__address-link:hover {
  color: var(--highlight-purple, #cd06ff);
}

.contacts__socials {
  padding: 35px 0 0 0;
}

.contacts__list {
  display: flex;
  padding: 0;
  margin: 0;
  height: 50px;
  list-style: none;
}

.contacts__item:not(:last-child) {
  margin: 0 25px 0 0;
}

.contacts__link {
  display: inline-block;
  height: 50px;
  width: 50px;
  color: var(--text-color, #ffffff);
  text-decoration: none;
  border-radius: 50%;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: color 0.2s ease;
}

.contacts__link:hover {
  color: #eadeed;
}

.contacts__link:focus{
  color: #eadeed;
  outline-color: var(--highlight-purple, #cd06ff);
}

.contacts__link:active {
  color: var(--highlight-purple, #cd06ff);
}

.contacts__footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
}

.contacts__designer-name {
  margin: 0 0 6px 0;
}

.contacts__designer-email {
  transition: color 0.2s ease;
}

.contacts__designer-email:hover {
  color: var(--highlight-purple, #cd06ff);
}