.book {
  padding: 80px 0;
  background-color: var(--background-purple, #440f51);
}

.book__title {
  margin: 0 0 50px 0;
}

.book__form {
  display: flex;
  flex-direction: column;
  font-size: 0;
  line-height: 0;
}

.book__fieldset {
  margin: 0 0 60px 0;
  border: none;
}

.book__fieldset_margin_short {
  margin: 0 0 40px 0;
}

.book__fieldset_content_entertainment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.book__column {
  flex: 0 0 300px;
}

.book__column_short {
  flex: 0 0 280px;
}

.book__column_content_date {
  display: flex;
  flex-direction: column;
}

.book__column_content_date:first-child {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 36px;
  padding: 22px 0 0 0;
}

.book__row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.book__row_content_entertainment {
  justify-content: flex-end;
  gap: 100px;
}

.book__row_content_date{
  justify-content: center;
  gap: 50px;
}

.book__legend {
  margin: 0 0 40px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.book__legend_align_left {
  margin: 0 0 23px 0;
  text-align: left;
}

.book__label-halls {
  flex: 1 0 calc((100% - 180px) / 4);
  min-height: 55px;
  position: relative;
}

.book__radiobutton-halls:focus {
  outline: none;
}

.book__radiobutton-halls {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.book__radiobutton-halls::after {
  display: inline-block;
  width: 250px;
  height: 100%;
  padding: 4px 12px 5px 12px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.2s ease, border 0.2s ease, background-color 0.2s ease;
}

.book__radiobutton-halls_type_vibes::after {
  content: "80's vibes";
}

.book__radiobutton-halls_type_star-wars::after {
  content: "Star wars";
}

.book__radiobutton-halls_type_wild-west::after {
  content: "Wild west";
}

.book__radiobutton-halls_type_neon-style::after {
  content: "Neon style";
}

.book__radiobutton-halls:hover::after {
  background-color: #eadeed;
  border: 3px solid #640aa3;
}

.book__radiobutton-halls:focus::after {
  border: 3px solid #640aa3;
  outline: none;
}

.book__radiobutton-halls:active::after, .book__radiobutton-halls:checked::after {
  color: #fff;
  background-color: var(--dark-purple, #6c0287);
  border: 3px solid #fff;
}

.book__label-entertainment {
  padding: 0 0 0 37px;
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: 25px;
  position: relative;
}

.book__label-entertainment_content_radiobutton {
  padding: 1px 0 0 39px;
  margin: 0 0 21px 0;
}

.book__label-entertainment:last-child {
  margin: 0;
}

.book__label-texted {
  margin: 0 0 6px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.book__radiobutton {
  position: absolute;
  margin: -1px 0 0 -39px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.book__radiobutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  outline: 1px solid transparent;
  outline-offset: 2px;
}

.book__radiobutton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  background-color: var(--highlight-purple, #cd06ff);
  border-radius: 50%;
  border: 7px solid #fff;
  opacity: 0;
}

.book__radiobutton:focus-visible {
  outline: none
}

.book__radiobutton:checked::after {
  opacity: 1;
}

.book__radiobutton:focus::before {
  outline: 1px solid var(--highlight-purple, #cd06ff);
}

.book__checkbox {
  position: absolute;
  margin: 0 0 0 -37px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.book__checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  outline: 1px solid transparent;
  outline-offset: 2px;
}

.book__checkbox::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  width: 20px;
  height: 10px;
  border: 3px solid var(--highlight-purple, #cd06ff);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.book__checkbox:focus-visible {
  outline: none;
}

.book__checkbox:checked::after {
  opacity: 1;
}

.book__checkbox:focus::before {
  outline: 1px solid var(--highlight-purple, #cd06ff);
}

.book__input-date {
  max-width: 134px;
  flex: 0 0 calc((100% - 32px) / 2);
  padding: 9px 17px;
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
  border: 2px solid transparent;
  border-radius: 0px;
}

.book__input-counter {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 9px 17px;
  font-size: 18px;
  line-height: 28px;
  color: #211e1e;
  border: 2px solid transparent;
  border-radius: 0px;
}

.book__input-date:focus-visible, .book__input-counter:focus-visible {
  outline: none;
}

.book__input-date:focus, .book__input-counter:focus {
  font-size: 18px;
  line-height: 28px;
  border: 2px solid var(--highlight-purple, #cd06ff);
}

.book__input-counter::placeholder {
  color: #211e1e;
}

.book__input-text {
  padding: 9px 17px;
  margin: 0 0 14px 0;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  border: 2px solid transparent;
  border-radius: 0px;
}

.book__input-text:last-child {
  margin: 0;
}

.book__input-text:focus-visible {
  outline: none;
}

.book__input-text:focus {
  border: 2px solid var(--highlight-purple, #cd06ff);
}

.book__button {
  align-self: flex-end;
  padding: 13px 48px;
  margin: 0 100px 0 0;
  max-width: 300px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--dark-purple);
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: background-color 0.2s ease, border 0.2s ease;
}

.book__button:hover {
  background-color: #eadeed;
  border: 3px solid var(--dark-purple, #6c0287);
}

.book__button:focus {
  border: 3px solid var(--dark-purple, #6c0287);
}

.book__button:active {
  background-color: #eadeed;
  border: 3px solid transparent;
}